body {
    margin: auto;
    padding: 0;
    width: 80%;

}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 46, 126);
    padding: 0 50px;
    font-size: 20px;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: white;
}

nav,
.hero {
    background-color: #1F2937;
}

.header-logo {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.hero {
    display: flex;
}

.hero h1 {
    color: white;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0;
}

.hero p {
    font-size: 18px;
    color: white;
}

.hero-info {
    padding: 0 20px;
}

.hero button {
    background-color: rgb(79, 135, 255);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

img {
    width: 30%;
    padding: 50px;
}


.content h2 {
    text-align: center;
    padding: 20px 10px;
    font-size: 30px;

}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;

}

.container img {
    background-color: white;
    border: solid lightskyblue 5px;
    border-radius: 20px;
    padding: 70px;
}

.info .text {
    font-size: 20px;
    margin: 0 10px;
    max-width: 200px;
    padding-bottom: 50px;

}

.testimonial {
    background-color: chartreuse;
}

.register {
    background-color: coral;
}

footer {
    background-color: darkblue;
}